h1 {
  font-family: 'Enriqueta', arial, serif; 
  line-height: 1.25; 
  margin: 0 0 10px; 
  font-size: 40px; 
  font-weight: bold;
}

p {
  color: #333333; 
  font-family: "Helvetica Neue",Arial,sans-serif; 
  font-size: 16px; 
  font-weight: 300; 
  line-height: 1.5625; 
  margin-bottom: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.location {
  padding: 15px;
  width: 80%;
  margin: auto;
  border: 1px solid lightblue;
  border-radius: 6px;
  font-size: 16px;
}

.location:focus {
  outline: none;
}




